@import "tailwindcss";
@plugin "flyonui";
@plugin "@iconify/tailwind4";

:root {
  --background: var(--color-zinc-50);
  --foreground: var(--color-zinc-950);
  min-height: 100vh;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-slate-950);
    --foreground: var(--color-zinc-50);
  }
}

@utility brand_name {
  font-weight: 700;
  background-color: var(--color-yellow-500);
  padding: 0 1.5rem;
}

@utility hero_section {
  @apply max-w-screen bg-green-800 flex flex-col justify-center items-center h-75 backdrop-blur-md backdrop-brightness-30;
  background-image: url('/plane.jpg');
}

@utility flight_selector {
  @apply rounded-2xl flex flex-row justify-center bg-slate-700 p-6 gap-4 w-5xl;
}

@utility flight_selector_label {
  @apply flex items-center justify-end text-xl
}

@utility place_select {
  @apply rounded-2xl flex flex-col bg-slate-500 p-3 gap-2 w-40;
}

@utility place_label {
  @apply flex justify-center text-4xl font-bold;
}

@utility date_label {
  @apply flex items-center justify-center text-xl;
}

@utility traveler_label {
  @apply flex items-center justify-start text-lg;
}

@utility custom_field {
  @apply h-10 px-4 py-2 rounded-md !bg-slate-900 !border-2 border-gray-300 text-zinc-200 focus:outline-none focus:border-slate-500
}

@utility class_select {
  @apply h-30 w-50 mx-8 rounded-2xl flex justify-center items-center border-2 border-gray-300 p-4 focus:outline-none focus:border-slate-500 cursor-pointer
}

@utility flight_details_review {
  @apply rounded-2xl border-2 border-zinc-700 p-4;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-akshar), var(--font-aleo), var(--font-aleo-italic);
}
